@import "tailwindcss";

:root {
  --background: #0b223c;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-en: var(--font-en);
  --font-kh: var(--font-kh);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b223c;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
